<!DOCTYPE HTML>


<html>
    <head>
        <title>Christmas 2021</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body style="background-image: linear-gradient(0.25turn, #e66465, #b1ffb1")>
        <div style="display: inline-block;">
            <div id="nav-placeholder"></div>
            <br>
            <br>
            <br>
        </div>

        <div>
            <p class="h11">Welcome to Christmas 2021</p>
        </div>

        <div>
            <p class="p1">Lexi & I moved to Rochester.</p>
        </div>
    </body>



    <script>
        $(function(){
            $("#nav-placeholder").load("/components/navbar.html");
        });
    </script>

    </body>

</html>
